POSTGRESQL_URL=postgresql://username:password@localhost:5432/postgres

NEXT_PUBLIC_BASE_API=http://localhost:8000
NEXT_PUBLIC_BASE_GRAPHQL=http://localhost:8000/graphql

BASE_API=http://localhost:8000
BASE_GRAPHQL=http://localhost:8000/graphql

PORT=8000

API_KEY_FOOTBALL_DATA=
API_KEY_NEWS=
